body {
  padding-left: 10%;
  padding-right: 10%;
  height: 1000px;
}

.nav {
  background-color: GhostWhite;
  border-bottom: 2px solid gray;
  float: left;
}

.nav ul {
  list-style: none;
  width: 125px;
  height: 250px;
  margin: 0;
  padding: 0;
}

.nav ul > li {
  padding: 1em;
}

.nav ul > li a {
  float: right;
  text-decoration: none;
  color: slategray;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}

.nav ul > li:hover {
  background-color: #ededed;
}

.nav ul > li:hover a {
  color: black;
}


