.nav {
  background-color: GhostWhite;
  border-bottom: 2px solid gray;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 16px;
}

li:hover{
  background-color: #ededed;
  color: black;
}

li a {
  text-decoration: none;
  color: slategray;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}

.jumbo{
  background-image: url("../images/nairobi.JPG");
  background-size: cover;
  height: 660px;
  width: 100%;
  background-position: center;
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}
.content{
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.about{
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
}

.bio{
  line-height: 20px;
}

