/*#one{
  border: 20px groove green;
}*/

/*#three{
  border: 5px dashed green;
  background: purple;
}*/

/*#four{
  border-radius: 50%;
  border: 10px dotted blue;
  box-shadow: 25px 10px 10px orange;
}*/

/*#one:hover{
  background: purple;
}
*/